.gwps-grid {
    --gwps-grid-columns: 12;
    --gwps-grid-gap: 16px;
    --gwps-grid-item-span: 3;

    margin: 0 16px;
}

.gwps-grid__content {
    display: grid;
    grid-template-columns: repeat(var(--gwps-grid-columns), minmax(0, 1fr));
    gap: var(--gwps-grid-gap);
    align-items: stretch;
}

.gwps-grid__content > .gwp-card,
.gwps-grid__content > .gwp-card-wrapper {
    grid-column: span var(--gwps-grid-item-span);
    height: 100%;
    min-width: 0;
}

.gwps-grid__content > .gwp-card {
    display: flex;
}

.gwps-grid__content > .gwp-card > .gwp-card__link,
.gwps-grid__content > .gwp-card > .gwp-card {
    display: block;
    height: 100%;
    width: 100%;
}

.gwps-grid__content > .gwp-card > .gwp-card__link > .gwp-card {
    height: 100%;
}

@media (max-width: 770px) {
    .gwps-grid {
        --gwps-grid-item-span: 6;
    }
}

@media (max-width: 550px) {
    .gwps-grid {
        --gwps-grid-item-span: 12;
    }
}
