p,
h3 {
    margin: 0;
    color: #232323;
    line-height: 1;
    font-family: sans-serif;
}

.gwp-card {
    border-radius: 4px;
    position: relative;
}

.gwp-card__link {
    text-decoration: none !important;
    color: inherit;
    display: inline-block;
    border-radius: 4px;
}

.gwp-card__content-wrapper {
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gwp-card__image-container {
    display: flex;
    align-items: start;
}

.gwp-card__image {
    border-radius: 4px;
    width: 100%;
    height: auto;
    max-width: clamp(88px, 20vw, 212px);
}

.gwp-card__body {
    display: flex;
    flex-direction: column;
}

.gwp-card__brand-label {
    font-size: 11px;
    font-weight: 500;
    color: #6e6e6e;
    line-height: 16px;
}

.gwp-card__title {
    font-size: 20px;
    font-weight: 500;
    color: #232323;
    padding: 8px 0;
    line-height: 22px;
}

.gwp-card__description {
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 1440px) {
    .gwp-card__content-wrapper {
        padding: 32px;
    }
}

@media (min-width: 550px) {
    .gwp-card__image-container {
        align-items: center;
        justify-content: center;
    }
}
