.tile-card {
    position: relative;
    max-width: 450px;
    font-family: sans-serif !important;
}

.tile-card__link {
    text-decoration: none !important;
}

.tile-card__tag {
    font-weight: 700;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    width: fit-content;
}

.tile-card__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tile-card__image-container {
    display: block;
    overflow: hidden;
}

.tile-card__image {
    display: block;
    width: 100%;
    height: auto;
}

.tile-card__body {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tile-card__title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.tile-card:hover .tile-card__title,
.tile-card__link:hover .tile-card__title {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.tile-card__description {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

.tile-card__cta {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
