p,
h3 {
    margin: 0;
    color: #232323;
    line-height: 1;
    font-family: sans-serif;
}

.promo-card-compact {
    border-radius: 4px;
    position: relative;
    height: 100%;
    display: flex;
}

.promo-card-compact__link {
    text-decoration: none !important;
    color: inherit;
    display: block;
    border-radius: 4px;
    height: 100%;
}

.promo-card-compact__content-wrapper {
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.promo-card-compact__image-container {
    display: flex;
    align-items: start;
}

.promo-card-compact__image {
    border-radius: 4px;
    width: 100%;
    height: auto;
    max-width: clamp(88px, 20vw, 212px);
}

.promo-card-compact__body {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.promo-card-compact__title {
    font-size: 16px;
    font-weight: 500;
    color: #232323;
    padding: 8px 0;
    line-height: 22px;
}

.promo-card-compact__description {
    font-size: 14px;
    font-weight: 500;
    color: #232323;
    padding: 8px 0;
    line-height: 22px;
}

@media (min-width: 550px) {
    .promo-card-compact__image-container {
        align-items: center;
        justify-content: center;
    }
}
