.separator {
    max-width: 100%;
}

.separator-wrapper {
    max-width: 100% !important;
    padding: 0 !important;
}

.separator__spacer {
    width: 100%;
    height: var(--separator-height-desktop, 0);
}

@media (max-width: 699px) {
    .separator__spacer {
        height: var(--separator-height-mobile, var(--separator-height-desktop, 0));
    }
}
